.post{

  h1 {
    font-size: 3 rem;
    font-weight: bold;
    color: var(--heading)
  }

  div {
    width: 100%;
    margin-top: 1.5rem;

    svg {
      margin-right: 0.5rem;
    }

    time {
      font-size: 0.875rem;
      color: var(--info);
    }

    .author {
      font-size: 0.875rem;
      color: var(--info);
      margin-left: 1.5rem;
    }

    .estimated {
      font-size: 0.875rem;
      color: var(--info);
      margin-left: 1.5rem;
    }
  }
}
