.banner {
  display: flex;
  justify-content: center;
  max-width: 1440px;
  margin: 0 auto 1.5rem;
}

.post{

  h1 {
    font-size: 3 rem;
    font-weight: bold;
    color: var(--heading)
  }

  div {
    width: 100%;
    margin-top: 1.5rem;

    svg {
      margin-right: 0.5rem;
    }

    time {
      font-size: 0.875rem;
      color: var(--info);
    }

    .author {
      font-size: 0.875rem;
      color: var(--info);
      margin-left: 1.5rem;
    }

    .estimated {
      font-size: 0.875rem;
      color: var(--info);
      margin-left: 1.5rem;
    }
  }

  .postContent{
    h2 {
      font-size: 2.25rem;
      font-weight: bold;
      color: var(--heading);
      line-height: 3.15rem;
    }

    p {
      font-size: 1.125rem;
      font-weight: normal;
      color: var(--body);
      line-height: 1.575rem;
      margin-bottom: 1.5rem;
    }

    li {
      font-size: 1.125rem;
      font-weight: normal;
      color: var(--body);
      line-height: 1.575rem;
      margin-bottom: 1.5rem;

    }

    a {
      color: var(--highlight)
    }
  }
}
